.chat-detailed-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .chat-detailed-header {
        width: 100%;
        margin-top: 75px;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            width: 5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #647196;
            font-size: 1rem;
            font-weight: 700;
            transition: all .3s ease-in;
            cursor: pointer;

            svg {
                color: #4661E6;
                font-size: 1rem;
            }
        }

        div:hover {
            opacity: .75;
            text-decoration: underline;
        }

        .edit-chat {
            height: 3rem;
            width: 8.5rem;
            border-radius: 0.625rem;
            background: #4661E6;
            color: white;
            outline: none;
            border: none;
            font-size: 0.875rem;
            font-weight: 700;
            cursor: pointer;
            transition: all .2s ease-in;
        }

        .edit-chat:hover {
            opacity: .75;
        }
    }
}