.edit-chat-container {
    width: 33.75rem;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    top: 40px;
    padding: 25px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow:0 0 0 1600px rgba(0,0,0,0.65);
    animation: EditChatAnimation 0.5s ease-out forwards;

    .edit-chat-header {
        color: #3A4374;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .edit-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        margin-top: 30px;

        .edit-content-title, .edit-content-category, .edit-content-detail {
            div:first-child {
                color: #3A4374;
                font-size: 0.875rem;
                font-weight: 700;
            }
            
            div:nth-child(2) {
                color: #647196;
                font-size: 0.875rem;
                font-weight: 400;
                margin-top: .4rem;
            }

            input, select {
                margin-top: 20px;
                width: 100%;
                border-radius: 0.3125rem;
                background: #F7F8FD;
                color: #3A4374;
                font-size: 0.9375rem;
                font-weight: 400;
                padding: 1rem 1.5rem;
                outline: none;
                border: none;
                transition: all .2s ease-in;
            }
        
            input:focus {
                border: 1px solid #4661E6;
                background: #F7F8FD;
            }   

            input.error {
                border: 1px solid red;
            }

            .error-message {
                margin-top: 0.8rem;
                display: flex;
                gap: 10px;
                align-items: center;
                color: red;
            }
        }

        .edit-content-category {

            .dropmenu-container {
                margin-top: 20px;
                width: 100%;
                height: 3rem;
                background: #F7F8FD;

                .dropmenu-btn {
                    width: 100%;
                    padding: 0 1rem;

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .dropmenu-opt {
                    margin-top: 1.5rem;
                    left: 5%;
                    width: 90%;
                    overflow-y: scroll;

                    li {
                        transition-delay: 0s !important;
                        transition: all .3s ease-in;
                    }
                }
            }
        }

        .edit-content-detail {
            width: 100%;

            textarea {
                margin-top: 20px;
                height: 6rem;
                width: 100%;
                border-radius: 0.3125rem;
                background: #F7F8FD;
                color: #3A4374;
                font-size: 0.9375rem;
                font-weight: 400;
                padding: 1rem 1.5rem;
                outline: none;
                border: none;
                resize: none;
                transition: all .2s ease-in;
            }
        
            textarea:focus {
                border: 1px solid #4661E6;
                background: #F7F8FD;
            }
        
            textarea.error {
                border: 1px solid red;
            }
        
        }
    }

    .edit-chat-footer {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        button {
            outline: none;
            border: none;
            padding: .75rem 1.25rem;
            border-radius: .5rem;
            color: #F2F4FE;
            font-size: 0.875rem;
            font-weight: 700;
            background-color: #D73737;
            cursor: pointer;
            transition: all .3s ease-in;
        }

        button:hover {
            opacity: .75;
        }

        button:disabled {
            opacity: .7;
        }

        div {
            display: flex;
            justify-content: space-between;
            gap: 15px;

            button:first-child {
                background-color: #3A4374;
            }

            button:last-child {
                background-color: #AD1FEA;
            }
        }
    }
}

.edit-chat-container.passive {
    box-shadow: none;
}

@keyframes EditChatAnimation {
    from {
        transform: translateY(-50px); /* Start position with horizontal centering and 10px above final position */
        opacity: 0;
    }
    to {
        transform: translateY(0); /* End position with horizontal centering */
        opacity: 1;
    }
}